SceneQuery.Tests/bin/
SceneQuery.Tests/obj/
SceneQuery/obj/
SceneQuery/bin/
Example Unity Project/Temp/
Example Unity Project/Library/
Example Unity Project/Assembly-CSharp-vs.csproj
Example Unity Project/Assembly-CSharp.csproj
Example Unity Project/Example Unity Project-csharp.sln
Example Unity Project/Example Unity Project-csharp.userprefs
Example Unity Project/Example Unity Project.userprefs
Example Unity Project/Example Unity Project.sln
*.nupkg
*.suo
